<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentários</title>
    <style>
        body{background-color: darkslateblue;}
        h1{text-align: center;color: aliceblue;font-size: 80px;}
        h3,h4{color: aliceblue;}
        p{text-align: center;color: aliceblue;font-size: 40px; font-family: monospace;}
        a{color: white; text-decoration: none; font-size: 20px;}
        #comentar{display: block;background-color: #cb3837;padding: 10px; text-align: center;}
        #card {padding: 2px 16px;}
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>