<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentários</title>      
    <style>
        *{
            color: white;
        }

        h1{
            text-align: center;
            }
        p{
            text-align: center; font-size: 20px; font-family: monospace;
            }    
        a{
            text-decoration: none; font-size: 20px;
            }
        button{
            display: block;background-color: #2f923f;padding: 10px; text-align: center;border-radius: 5px;

            }
        #card {
            padding: 2px 16px;
            }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>