
.card{
    padding: 60px;
    border: 30px;
    margin-left: 60px;
    margin-right: 60px;
    height: 763px;
    transition: 0.3s;
    border-radius: 15px;
    background-color: aliceblue;
}
.card:hover{
    margin-top: -10px;
    background-color: rgb(170, 215, 255);
    color: black
}


.nav-link{
    color: white;
    font-size: 19px;
}
.card-img-top{
    
    height: 400px;
    width: 300px;
}
body{
    background-color: #19192a;
}

.card-group{
    padding-top: 40px;
    border: 30px;
}
button{
    height: 40px;
    color: green;
}
