
.card{
    padding: 60px;
    border: 30px;
    margin-left: 60px;
    margin-right: 60px;
    height: 763px;
    transition: 0.3s;
    border-radius: 15px;
    background-color: aliceblue;
}
.card:hover{
    margin-top: -10px;
    background-color: rgb(170, 215, 255);
    color: black
}
.button-3 {
    appearance: none;
    background-color: #50915a;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    width: 275px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    box-shadow: 3px 3px #527958;
  }
.button-3:active{
    background-color: #4f8b4d;
    box-shadow: none;
}
.nav-link{
    color: white;
    font-size: 17px;
}
.card-img-top{
    
    height: 400px;
    width: 300px;
}
body{
    background-color: #19192a;

}
.card-group{
    padding-top: 40px;
    border: 30px;
}
button{
    height: 40px;
    color: green;
}
