h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{ 
    background-image: url(/public/imagens/LivingBooks.png);
    background-size: 1437px;
}
#Login{
    padding: 5px;
}

.nav-link{
    color: white;
    font-size: 19px;
}
h1{
    font-family: serif;
    color: rgb(199, 201, 210);
    font-size: 70px;
}

