<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="/views/CSS/fantasia.css">

</head>

<body>
        <!--Navbar início-->
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Voltar ao início</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="LivrosDaComunidade.handlebars">Comentários da comunidade</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/views/HTML/sugestoes.html">Sugestões</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Categorias
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="acao.html">Ação</a></li>
                            <li><a class="dropdown-item" href="/views/HTML/fantasia.html">Fantasia_</a></li>
                            <li><a class="dropdown-item" href="terror.html">Terror</a></li>
                            <li><a class="dropdown-item" href="romance.html">Romance</a></li>
                            <li><a class="dropdown-item" href="misterio.html">Mistério</a></li>
                        </ul>
                    </li>
                </ul>
                <h2 class="sub" >Logo</h2>
                <img src="/views/imagens/steak night (1).png" width="150px" height="60px"> 
                </form>
            </div>
        </div>
    </nav>
        <!--Navbar fim-->

        <!--NOME DA CATEGORIA-->

    <h1>Fantasia</h1>

    <!-- CARD LIVROS NÚMERO 1-->

    <div class="card-group">
        <div class="card">
            <img src="/views/imagens/A maquina do tempo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">A Máquina do Tempo </h5>
                <p class="card-text">Publicado em 1895, A Máquina do Tempo é considerado um dos primeiros romances a tratar do conceito de viagem no tempo.</p>
                <br>
                <br>
                <br>
                    <a href="https://www.amazon.com.br/M%C3%A1quina-do-Tempo-H-Wells/dp/856709738X/ref=asc_df_856709738X/?tag=googleshopp00-20&linkCode=df0&hvadid=379793566310&hvpos=&hvnetw=g&hvrand=18219932237732481610&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1001566&hvtargid=pla-395982483082&psc=1"><button class="button-3" role="button">Compre aqui</button></a>

            </div>
        </div>
        <div class="card">
            <img src="/views/imagens/As crônicas de narnia.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">As Crônicas de Nárnia</h5>
                <p class="card-text"> oferece aos leitores viagens ao fim do mundo,
                     criaturas fantásticas e batalhas épicas entre o bem e o mal em seis livros
                      que, juntos, ficaram conhecidos como ”As crônicas de Nárnia”.</p>
                    <br>
                    <br>
                    <a href="https://www.amazon.com.br/As-Cr%C3%B4nicas-N%C3%A1rnia-Brochura-Lewis/dp/857827069X/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=ABNOXQHOHS9Y&keywords=As+Cr%C3%B4nicas+de+N%C3%A1rnia+%E2%80%93+Volume+%C3%9Anico&qid=1675257738&s=books&sprefix=as+cr%C3%B4nicas+de+n%C3%A1rnia+volume+%C3%BAnico%2Cstripbooks%2C531&sr=1-1"><button class="button-3" role="button">Compre aqui</button></a>

            </div>
        </div>
        <div class="card">
            <img src="/views/imagens/A bussola de ouro.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">A bússola de ouro (Fronteiras do Universo v.1)</h5>
                <p class="card-text">O primeiro livro da ordem dos livros de Fronteiras do Universo é A bússola de ouro,
                     no qual Lyra Belacqua e seu daemon, Pantalaimon, vivem felizes e soltos entre os 
                     catedráticos da Faculdade Jordan, em Oxford.</p>
                    <a href="https://www.amazon.com.br/b%C3%BAssola-ouro-Philip-Pullman/dp/8556510426/ref=sr_1_1?crid=2R8D0W9T9NEQ7&keywords=a+bussola+de+ouro&qid=1675256103&sprefix=a+bussolade+%2Caps%2C672&sr=8-1"><button class="button-3" role="button">Compre aqui</button></a>

            </div>
        </div>
    </div>

            <!--Cards 2-->
    <div class="card-group">
        
        <div class="card">
            <img src="/views/imagens/A faca sutil.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">A faca sutil (Fronteiras do Universo v.2)</h5>
                <p class="card-text">O segundo livro da ordem dos livros de Fronteiras do Universo
                     é A faca sutil, no qual Lyra Belacqua encontra Will Parry ? um fugitivo que
                      logo se torna um aliado mais que necessário.</p>
                      <br>
                    <a href="https://www.amazon.com.br/faca-sutil-Philip-Pullman/dp/8556510442/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1JWGLUH8BC8OX&keywords=A+faca+sutil&qid=1675256812&sprefix=a+faca+sutil%2Caps%2C944&sr=8-1"><button class="button-3" role="button">Compre aqui</button></a>

            </div>
        </div>
        <div class="card">
            <img src="/views/imagens/A luneta âmbar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">A luneta âmbar (Fronteiras do Universo v.3)</h5>
                <p class="card-text">O terceiro livro da ordem dos livros de Fronteiras do Universo é A luneta âmbar.
                    Em todos os universos, forças se reúnem para tomar um lado na audaciosa rebelião de lorde Asriel
                     contra a Autoridade.</p>
                     <br>
                      <a href="https://www.amazon.com.br/luneta-%C3%A2mbar-Philip-Pullman/dp/8556510450/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=16IOWVXFN5GXU&keywords=A+luneta+%C3%A2mbar&qid=1675256893&sprefix=a+luneta+%C3%A2mbar%2Caps%2C485&sr=8-1"><button class="button-3" role="button">Compre aqui</button></a>

            </div>
        </div>
        
        <div class="card">
            <img src="/views/imagens/O hobbit.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">O Hobbit</h5>
                <p class="card-text">Bilbo Bolseiro era um dos mais respeitáveis hobbits de todo o Condado até que,
                     um dia, o mago Gandalf bate à sua porta. A partir de então, toda sua vida pacata e campestre
                      soprando anéis de fumaça com seu belo cachimbo começa a mudar.</p>
                      <br>
                      <a href="https://www.amazon.com.br/Hobbit-p%C3%B4ster-J-R-R-Tolkien/dp/8595084742/ref=asc_df_8595084742/?tag=googleshopp00-20&linkCode=df0&hvadid=379765940837&hvpos=&hvnetw=g&hvrand=11870665807677904025&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1001566&hvtargid=pla-811119478681&psc=1"><button class="button-3" role="button">Compre aqui</button></a>
            
            </div>
        </div>
    </div>
    <div class="espaço"></div>


    <!-- Footer início-->
        <footer>
            <div class="container">
                <ul>
                    <h3>Vitória Juliana</h3>
                    <p>"O mundo é um lugar muito melhor com bolos de <br> chocolate e rosquinhas açucaradas."</p>
                    <div class="redes-sociais">
                        <a href="https://github.com/VitoriaAmorim"><img src="/views/imagens/github_icone.png" width="35px" height="35px"></a>
                        <a href="https://www.linkedin.com/in/vitoria-amorim-5911bb239/"><img src="/views/imagens/linkedin.png" width="35px" height="35px"></a>
                    </div>
                </ul>
                <ul>
                    <h3>Vitor Jonatha</h3>
                    <p>"E se eu tentar mais uma vez? Aposto que consigo."</p>
                    <div class="redes-sociais">
                        <a href="https://github.com/VitorJonatha"><img src="/views/imagens/github_icone.png" width="35px" height="35px"></a>
                        <a href="https://www.linkedin.com/in/vitor-amorim-a482a2239/"><img src="/views/imagens/linkedin.png" width="35px" height="35px"></a>
                    </div>
                </ul>
                <ul class="link">
                    <h3>Categorias</h3>
                    <li><a href="/views/HTML/home.html">Home</a></li>
                    <li><a href="/views/HTML/LivrosDaComunidade.handlebars">livros da comunidade</a></li>
                    <li><a href="/views/HTML/sugestoes.html">sugestões</a></li>
                </ul>
            </div>
            <div id="footer_copyright">
                &#169
                2023 all rights reserved
            </div>
        </footer>

    <!-- Footer fim-->
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>